<mat-sidenav-container class="main-container">
  <mat-sidenav *ngIf="!isAuthRoute()" mode="side" opened class="sidenav">
    <mat-toolbar color="primary">SellMate</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/feed" routerLinkActive="active-link">Anasayfa</a>
      <a mat-list-item routerLink="/explore" routerLinkActive="active-link">Arama</a>
      <a mat-list-item routerLink="/messages" routerLinkActive="active-link">Mesajlar</a>
      <a mat-list-item routerLink="/profile" routerLinkActive="active-link">Profil</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
