/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Inter', sans-serif !important;
}

html, body { 
    height: 100%;
    margin: 0;
}
body { margin: 0;
      font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  }

